.main_div{
    width: 100%;
    background-color: #FAFAFA;
}
.nav_header{
    width: 100%;
}
.main_cont{
    width: 100%;
    background-color: #FAFAFA;
}
@media screen and (min-width : 1000px) {
    .toFind_button{
        justify-content: start;
    }
    .text_comp{
        justify-content: start;
    }
    
}
@media screen and (max-width: 1000px) {
    .toFind_button{
        justify-content: center;
    }
  .text_comp{
        justify-content: center;
    }
    .image_after{
        display: none;
    }
    .cont{
        display: inline !important;
    }
    .continue_tab{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        background-color: white;

    }
    .button_cont{
        width: 100% !important;
       
    }
}